[submodule "apps/marketplace-jsoneditor-app"]
	path = apps/marketplace-jsoneditor-app
	url = git@github.com:contentstack/marketplace-jsoneditor-app.git
[submodule "core/developerhub-ui"]
	path = core/developerhub-ui
	url = git@github.com:contentstack/developerhub-ui.git
[submodule "core/marketplace-ui"]
	path = core/marketplace-ui
	url = git@github.com:contentstack/marketplace-ui.git
[submodule "apps/marketplace-brightcove-app"]
	path = apps/marketplace-brightcove-app
	url = git@github.com:contentstack/marketplace-brightcove-app.git
